/* Tablets */

@media only screen and (min-width: 788px) and (max-width: 979px) {

}

/* Smartphones */

@media only screen and (max-width: 787px) {
    /* Header */

    .header {
        position: relative;
        padding-bottom: 0;
    }

    .logo {
        margin: 0 auto;
        display: block;
        margin-bottom: 10px;
    }

    .logo:hover {
        width: 50px;
        margin-top: 0;
    }

    .header_menu {
        text-align: center;
    }

    .header_menu ul li a {
        display: block;
        float: left;
        width: 140px;
        border: 6px solid #0d0c0c;
        margin-left: 5px;
        margin-bottom: 5px;
        padding: 5px;
    }

    .header_menu ul li {
        margin: 0 auto;
    }

    /* Introdução */
    .introducao {
        margin-top: 0;
        height: 470px;
        padding-top: 30px;
    }
}