/* Estilos Gerais *****************************************************************************************************************************/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&display=swap');


body {
    font-family: "Poppins", sans-serif;
}

p {
    font-family: "Domine", sans-serif;
}

.h3-titulos {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.h3-titulos:after {
    content: "";
    display: block;
    width: 60px;
    height: 4px;
    border-radius: 4px;
    background: #0d0c0c;
    margin: 3px auto;
}

body {
    background: #f3f3f2;
}

.sub-titulo {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.sub-titulo:after {
    content: "";
    display: block;
    width: 70px;
    height: 4px;
    border-radius: 4px;
    background: #0d0c0c;
    margin: 8px auto;
}

.btn {
    padding: 15px 40px;
    background-color: #f29b29;
    border-radius: 5px;
    color: #0d0c0c;
    font-size: 18px;
    font-weight: 700;
    transition: all 0.3s ease;
    text-transform: uppercase;
}

/* Header ************************************************************************************************************************************/

.header {
    top: 0;
    position: fixed;
    width: 100%;
    background: #f29b29;
    padding: 10px 0;
    z-index: 10;
}


.header_menu {
    text-align: right;
}

.header_menu ul li {
    display: inline-block;
    margin: 25px 0 25px 25px;
}

.header_menu ul li  a{
    font-family: "Poppins", sans-serif;
    color: #0d0c0c;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: .1rem;
    transition: all 0.2s ease;
    padding: 10px;
}

.header_menu ul li  a:hover{
    background-color: #0d0c0c;
    color: #f3f3f2;
    box-shadow: 3px 3px 10px rgba(0, 0, 0,.3);
}

/* Introdução *************************************************************************************************************/

.introducao {
    width: 100%;
    background: url("../img/bg_section.jpg") no-repeat center;
    background-size: cover;
    margin-top: 92px;
    height: 387px;
    text-align: center;
    padding-top: 60px;
}

.introducao h1 {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 700;
    color: #f3f3f2;
}

.quote-external {
    max-width: 360px;
    margin: 0 auto;
    margin-bottom: 45px;
}

.quote-external p {
    font-size: 16px;
    color: #f3f3f2;
    font-style: italic;
}

.quote-external p:before, .quote-external p:after {
    content: "";
    display: block;
    width: 70px;
    height: 4px;
    border-radius: 4px;
    background: #f3f3f2;
    margin: 18px auto;
}

.quote-external cite {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: .06rem;
    color: #f3f3f2;
    font-style: normal;
}

.introducao .btn:hover {
    color: #f3f3f2;
    background-color: #0d0c0c;
    box-shadow: 3px 3px 10px rgba(0, 0, 0,.3);
}

/* Produtos ********************************************************************************************************************/

.produtos {
    padding:  40px 0;
    text-align: center;
}

.produtos h2 {
    color: #0d0c0c;
}

.produtos li {
    margin-top: 60px;
    border-radius: 5px; 
    background-color: #f29b29;
    box-shadow: 3px 3px 10px rgba(0, 0, 0,.3);
    margin-bottom: 50px;
}

.produtos-img {
    border-radius: 5px 5px 0 0;
    border: #f29b29 3px solid;
    background-color: #0d0c0c;
    padding: 15px 0;
}

.produtos .h3-titulos {
    margin: 10px 0;
}

.produtos ul li p {
    font-size: 14px;
    max-width: 250px;
    margin: 0 auto;
    padding-bottom: 25px;
}

.produtos .btn:hover {
    color: #f3f3f2;
    background-color: #0d0c0c;
    box-shadow: 3px 3px 10px rgba(0, 0, 0,.3);
}

/* Potofiólio ********************************************************************************************************************/

.portifolio {
    width: 100%;
    background-color: #0d0c0c;
    padding: 40px 0; 
    text-align: center;
}

.portifolio h2 {
    color: #f29b29;
}

 .portifolio .sub-titulo:after {
    content: "";
    display: block;
    width: 70px;
    height: 4px;
    border-radius: 4px;
    background: #f29b29;
    margin: 8px auto;
}

.portifolio ul {
    margin-top: 60px;
    margin-bottom: 30px;
}

.portifolio ul li img {
    margin: 0 auto;
    border-radius: 5px;
    border: #f29b29 1px solid;
}

.portifolio ul li {
    padding: 13px 0;
}

.portifolio .btn:hover {
    color: #0d0c0c;
    background-color: #f3f3f2;
    box-shadow: 3px 3px 10px rgba(0, 0, 0,.3);
}

/* Qualidade ********************************************************************************************************************/

.qualidade {
    padding: 40px 0;
    text-align: center;
}

.qualidade ul li {
    padding: 10px 0 60px 0;
    
}

.qualidade .qualidade_lista li p{
    padding-top: 10px;
}

.qualidade img {
    margin-top: 60px;
}

.qualidade .btn:hover {
    color: #f3f3f2;
    background-color: #0d0c0c;
    box-shadow: 3px 3px 10px rgba(0, 0, 0,.3);
}

/* Final Quote ********************************************************************************************************************/

.final_quote {
    padding: 40px 0;
    width: 100%;
    height: 240px;
    background: url("../img/footer.jpg") no-repeat center;
    background-size: cover;
    text-align: center;
}
