/* Estilos Gerais */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&display=swap');

body {
    font-family: "Poppins", sans-serif;
}

p {
    font-family: "Domine", sans-serif;
}

.btn {
    padding: 15px 40px;
    background-color: #f29b29;
    border-radius: 5px;
    color: #0d0c0c;
    font-size: 18px;
    font-weight: 700;
    transition: all 0.3s ease;
}

/* Header */
.header {
    top: 0;
    position: fixed;
    width: 100%;
    background: #f29b29;
    padding: 10px 0;
    z-index: 1;
}

.logo {
    margin-top: 5px;
    width: 100px;
}

.header_menu {
    text-align: right;
}

.header_menu ul li {
    display: inline-block;
    margin: 25px 0 25px 25px;
}

.header_menu ul li  a{
    font-family: "Poppins", sans-serif;
    color: #0d0c0c;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: .1rem;
    transition: all 0.2s ease;
    padding: 10px;
}

.header_menu ul li  a:hover{
    background-color: #0d0c0c;
    color: #f3f3f2;
    box-shadow: 3px 3px 10px rgba(0, 0, 0,.3);
}
/* Introdução */
.introducao {
    width: 100%;
    background: url("../img/bg_section.jpg") no-repeat center;
    background-size: cover;
    margin-top: 92px;
    height: 387px;
    text-align: center;
    padding-top: 60px;
}

.introducao h1 {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 700;
    color: #f3f3f2;
}

.quote-external {
    max-width: 360px;
    margin: 0 auto;
    margin-bottom: 45px;
}

.quote-external p {
    font-size: 16px;
    color: #f3f3f2;
    font-style: italic;
}

.quote-external p:before, .quote-external p:after {
    content: "";
    display: block;
    width: 70px;
    height: 4px;
    border-radius: 4px;
    background: #f3f3f2;
    margin: 18px auto;
}

.quote-external cite {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: .06rem;
    color: #f3f3f2;
    font-style: normal;
}

.introducao .btn:hover {
    color: #f3f3f2;
    background-color: #0d0c0c;
    box-shadow: 3px 3px 10px rgba(0, 0, 0,.3);
}
